{% extends "base.html" %}
{% load static %}
<title>{% block title %}Reset Password Sent| PARK ME {% endblock %}</title>
{% block content %}
<body style="background-image: url('{% static "images/park.png" %}');" id="login_image">
<div class="container text-center text-white ">
<h1 class="font  mt-5"><b>Password reset sent</b></h1>
<p class="mt-5"><b>We’ve emailed you instructions for setting your password, if an account exists with the email you entered.<br>
     You should receive them shortly.   If you don’t receive an email, please make sure you’ve entered the address <br>
     you registered with, and check your spam folder.</b></p>
    </div>
</body>
{% endblock %}